
<div>
  <% @array_h2_p.each do |h2_p| %>
      <h2> <img class="heart" src="heart-03.jpg"/> <%= h2_p[0].to_s %> </h2>
      <p> <%= h2_p[1].to_s %> </p>
  <% end %>
</div>


  <div>
    <h2><img class="heart" src="heart-03.jpg"/> My next secret project </h2>
    <%= @verb[rand(6)]%> a new <%= @adjective[rand(6)] %> <%= @none[rand(6)] %>
  </div>
